$text-color-navbar: #8B8B8B ;
$background-color-navbar: #000;
$color-hover: #7F7300;
.navbar-custom {
  background-color: $background-color-navbar;
  padding: 0 !important;
  -moz-box-shadow: 0px 4px 5px rgba(68,68,68,0.6);
  -webkit-box-shadow: 0px 4px 5px rgba(68,68,68,0.6);
  box-shadow: 0px 4px 5px rgba(68,68,68,0.6);
  .logo-team-home {
    border-bottom: black !important;
    .text-logo-team-home {
      color: #FFE600 !important;
    }
  }
  .logo-team-home:hover {
    color: #FFE600 !important;
  }
  .navbar-brand {
    color: #FFE600 !important;
    font-weight: bold;
  }
  a {
    color: $text-color-navbar !important;
    font-weight: bold;
    padding: .5em .5em;
  }
  a:hover {
    color: #ffffff !important;
    text-decoration: none;
  }
  .router-link-active{
    color: #ffffff !important;
    border-bottom: 4px solid #FFE600;
  }
  .ul-navbar-custom {
    @include mobile {
      padding-bottom: 13px;
      padding-top: 13px;
    }
    @include tablets {
      padding-bottom: 13px;
      padding-top: 13px;
    }
    @include tablets-pro {
    }
    @include mobile-horizontal {
    }
    @include mobile-horizontal-lg {
      padding-bottom: 13px;
      padding-top: 13px;
    }
    @include tablets-horizontal {
    }
  }
}